<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Railway Test Suite">
    <listeners>
        <listener class-name="common.TestListener"/>
    </listeners>
    <test name="Railway Tests">
        <classes>
            <class name="testcases.LoginTests"/>
            <class name="testcases.RegisterTests"/>
            <class name="testcases.BookTicketTests"/>
            <class name="testcases.ChangePasswordTests"/>
            <class name="testcases.MyTicketTests"/>
            <class name="testcases.ResetPasswordTests"/>
            <class name="testcases.TimetableTests"/>
        </classes>
    </test>
</suite>
